.forgotPassword{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 auto;
    h1{
       color: black;
       text-align: center;
       font-weight: 600;
       margin-bottom: 25px;
    }
}
.forgotPasswordComponent{
    background-color: #eee;
    width: 100%;
    border-radius: 10px;
    padding: 50px 15px;
    max-width: 390px;
    box-shadow: 22px 18px 30px 8px rgba(0,0,0,0.43);
}
@media screen and (min-width: 580px) {
    .forgotPasswordComponent{
        padding: 60px 20px;
        max-width: 420px;
    }
}
@media screen and (min-width: 690px) {
    .forgotPasswordComponent{
        max-width: 480px;
    }
}
@media screen and (min-width: 960px) {
}
@media screen and (min-width: 1200px) {
    .forgotPassword{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
