.resetPassword{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 auto;
    background-color:  #000000;
    h1{
       text-align: center;
       font-weight: 600;
       margin-bottom: 30px;
       color: #000000;
    }
}
.resetPasswordComponent{
    background-color: #eee;
    width: 100%;
    border-radius: 10px;
    padding: 50px 15px;
    max-width: 390px;
    box-shadow: 22px 18px 30px 8px rgba(0,0,0,0.43);

}
@media screen and (min-width: 580px) {
    .resetPasswordComponent{
        padding: 60px 20px;
        max-width: 420px;
    }
}
@media screen and (min-width: 690px) {
    .resetPasswordComponent{
        padding: 70px 25px;
        max-width: 480px;
    }
}
@media screen and (min-width: 960px) {
    .resetPasswordComponent{
        padding: 80px 35px;
    }
}
@media screen and (min-width: 1200px) {
    .resetPassword{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
